<template>
  <v-container>
    <v-card>
      <v-card-title class="mb-6 text-h4 font-weight-bold"
        >Курс валют</v-card-title
      >
      <div class="d-flex">
        <v-card-text class="font-weight-black text-body-1">Валюта</v-card-text>
        <v-card-text class="font-weight-black text-body-1">Курс</v-card-text>
        <v-card-text class="font-weight-black text-body-1">Дiя</v-card-text>
      </div>
      <v-divider></v-divider>
      <div
        v-for="item in currencys"
        :key="item.index"
        class="d-flex pa-4 align-center"
      >
        <v-card-text class="font-weight-bold">{{ item.name }}</v-card-text>
        <v-card-text>{{ item.rate }}</v-card-text>
        <currency-edit :value="item" />
      </div>
      <v-divider></v-divider>
    </v-card>
  </v-container>
</template>

<script>
import CurrencyEdit from "@/components/CurrencyEdit.vue";

export default {
  components: {
    CurrencyEdit,
  },

  computed: {
    currencys() {
      return this.$store.getters.currencys;
    },
  },
};
</script>

<style></style>
