<template>
  <div>
    <v-tabs v-model="tabs" fixed-tabs background-color="indigo" dark>
      <v-tab>UAH</v-tab>
      <v-tab>USD</v-tab>
      <v-tab>EUR</v-tab>

      <v-tab-item>
        <v-sheet color="blue">
          <v-sparkline
            class="mb-6 pt-4"
            label-size="8"
            color="white"
            :labels="labels"
            :value="value"
            line-width="2"
            padding="16"
          ></v-sparkline>
        </v-sheet>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>ДАТА</th>
                <th>БУЛО</th>
                <th>СТАЛО</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in uah" :key="item.date">
                <td>{{ item.date }}</td>
                <td class="red lighten-3">{{ item.after }}</td>
                <td class="green accent-3">{{ item.before }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
        <v-divider></v-divider>
      </v-tab-item>
      <v-tab-item>
        <v-sheet color="blue">
          <v-sparkline
            class="mb-6 pt-4"
            label-size="8"
            color="white"
            :labels="labels"
            :value="value"
            line-width="2"
            padding="16"
          ></v-sparkline>
        </v-sheet>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th>ДАТА</th>
                <th>БУЛО</th>
                <th>СТАЛО</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in usd" :key="item.date">
                <td>{{ item.date }}</td>
                <td class="red lighten-3">{{ item.after }}</td>
                <td class="green accent-3">{{ item.before }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-tab-item>
      <v-tab-item>
        <v-sheet color="blue">
          <v-sparkline
            class="mb-6 pt-4"
            label-size="8"
            color="white"
            :labels="labels"
            :value="value"
            line-width="2"
            padding="16"
          ></v-sparkline>
        </v-sheet>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th class="font-weight-black">ДАТА</th>
                <th class="font-weight-black">БУЛО</th>
                <th class="font-weight-black">СТАЛО</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="item in eur" :key="item.date">
                <td>{{ item.date }}</td>
                <td class="red lighten-3">{{ item.after }}</td>
                <td class="green accent-3">{{ item.before }}</td>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
export default {
  data() {
    return {
      tabs: null,
      uah: [
        {
          date: "05.02.22",
          before: 33.4,
          after: 28.6,
        },
        {
          date: "06.02.22",
          before: 28.6,
          after: 26.3,
        },
        {
          date: "07.02.22",
          before: 26.3,
          after: 27.8,
        },
      ],
      usd: [
        {
          date: "05.02.22",
          after: 1.4,
          before: 1.6,
        },
        {
          date: "06.02.22",
          after: 1.6,
          before: 1.3,
        },
        {
          date: "07.02.22",
          after: 1.3,
          before: 1.8,
        },
      ],
      eur: [
        {
          date: "05.02.22",
          after: 0.4,
          before: 0.6,
        },
        {
          date: "06.02.22",
          after: 0.6,
          before: 0.3,
        },
        {
          date: "07.02.22",
          after: 0.3,
          before: 0.8,
        },
      ],
      labels: ["05.02", "06.02", "07.02", "08.02", "09.02", "10.02"],
      value: [33.4, 28.6, 26.3, 26.3, 30.3, 26.3],
    };
  },
};
</script>
