<template>
  <v-container fill-height>
    <v-row justify="center">
      <v-card flat tile outlined class="ma-2">
        <v-toolbar max-width="auto">
          <div class="indigo darken-3">
            <v-img
              class="ma-4"
              max-height="150"
              max-width="80"
              src="@/assets/image/logo.svg"
            ></v-img>
          </div>
          <v-toolbar-title class="ml-6 text-h5">Авторизація</v-toolbar-title>
          <v-spacer></v-spacer>
        </v-toolbar>
        <v-list-item-content> </v-list-item-content>
        <v-form v-model="isFormValid">
          <v-list-item class="py-3" three-line>
            <v-list-item-content>
              <v-list-item-subtitle>Логін</v-list-item-subtitle>
              <v-text-field
                ref="login"
                v-model="login"
                :rules="[() => !!login || 'Це обов`язкове поле']"
                required
              ></v-text-field>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="py-3" three-line>
            <v-list-item-content>
              <v-list-item-subtitle>Пароль</v-list-item-subtitle>
              <v-text-field
                v-model="password"
                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="[rules.required, rules.min]"
                :type="show1 ? 'text' : 'password'"
                name="input-10-1"
                counter
                @click:append="show1 = !show1"
              ></v-text-field>
            </v-list-item-content>
          </v-list-item>
        </v-form>

        <v-card-actions>
          <v-btn
            :disabled="!isFormValid"
            outlined
            text-button
            class="primary mx-auto py-3"
            color="white"
            @click="$router.push({ name: 'currencys' })"
          >
            Вхiд
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  components: {},
  data() {
    return {
      isFormValid: false,
      login: "",
      password: "",
      dialog: true,
      show1: false,
      rules: {
        required: (value) => !!value || "Введіть.",
        min: (v) => v.length >= 8 || "Принаймні 8 символів",
        emailMatch: () => `The email and password you entered don't match`,
      },
    };
  },
  methods: {},
  computed: {},
};
</script>

<style lang="sass" scoped>
</style>
