<template>
  <v-dialog width="400px" v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn class="primary" v-bind="attrs" v-on="on">Змiнити</v-btn>
    </template>
    <v-card>
      <v-container>
        <v-layout row>
          <v-flex xs12>
            <v-card-title>Змiнити значення</v-card-title>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-card-text>
              <v-text-field
                name="rate"
                label="курс"
                type="number"
                v-model="editedRate"
              ></v-text-field>
            </v-card-text>
          </v-flex>
        </v-layout>
        <v-layout row>
          <v-flex xs12>
            <v-card-actions class="pa-4">
              <v-spacer></v-spacer>
              <v-btn @click="onSave" dark color="primary">Зберегти</v-btn>
              <v-btn @click="onCancle" outlined color="">Відміна</v-btn>
            </v-card-actions>
          </v-flex>
        </v-layout>
      </v-container>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  props: {
    value: {
      required: true,
      type: Object,
    },
  },
  data() {
    return {
      dialog: false,
      editedRate: this.value.rate,
    };
  },
  methods: {
    onCancle() {
      this.editedRate = "";
      this.dialog = false;
    },
    onSave() {
      if (this.editedRate !== "") {
        this.$store.dispatch("updateCurrency", {
          rate: this.editedRate,
          id: this.value.id,
        });
        this.dialog = false;
      }
    },
  },
};
</script>

<style></style>
