@import "./variables.sass"

*,
*::before,
*::after
  padding: 0
  margin: 0
  border: 0
  box-sizing: border-box

a
  text-decoration: none
ul,
ol,
li
  list-style: none

img
  vertical-align: top

html,
body
  height: 100%
  line-height: 1

body
  font-size: 14px
