<template>
  <v-app id="app">
    <v-main>
      <component :is="layout">
        <router-view />
      </component>
    </v-main>
  </v-app>
</template>

<script>
import MainLayout from "@/layouts/MainLayout";
import FooterLayout from "@/layouts/FooterLayout";

export default {
  components: { MainLayout, FooterLayout },
  computed: {
    layout() {
      return (this.$route.meta.layout || "footer") + "-layout";
    },
  },
};
</script>

<style lang="sass" scoped>
</style>
