<template>
  <v-app>
    <router-view />
    <v-footer color="grey darken-4">
      <v-col class="py-4 text-center white--text">
        {{ new Date().getFullYear() }} — <strong>АВТОТЕХНIКС</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
export default {};
</script>

<style>
</style>
