<template>
  <v-app>
    <div>
      <v-app-bar class="indigo darken-3">
        <v-app-bar-nav-icon
          color="white"
          @click.stop="drawer = !drawer"
        ></v-app-bar-nav-icon>
        <v-btn text-button absolute right to="/">Вийти</v-btn>
      </v-app-bar>
      <v-navigation-drawer
        absolute
        v-model="drawer"
        width="250"
        height="100vh"
        top
      >
        <v-list nav dense>
          <v-list-item-group v-model="group">
            <v-list-item>
              <router-link :to="{ name: 'currencys' }">Курс валют</router-link>
            </v-list-item>
            <v-list-item>
              <router-link :to="{ name: 'history' }">Исторiя</router-link>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
    </div>

    <v-main>
      <router-view />
    </v-main>

    <v-footer color="grey darken-4">
      <v-col class="text-center white--text">
        {{ new Date().getFullYear() }} — <strong>АВТОТЕХНIКС</strong>
      </v-col>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: false,
    group: null,
  }),

  watch: {
    group() {
      this.drawer = false;
    },
  },
};
</script>

<style></style>
